In [27]:
import math
import numpy as np
import pandas as pd

In [28]:
inputfilename = "zcta_SEC.csv"
dataframe = pd.read_csv(inputfilename)

In [29]:
dataframe.head()
row=dataframe.shape[0]
print(row)

2069

In [30]:
def distance(lat1, lon1, lat2, lon2):
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c
    return d

In [31]:
origin=dataframe[['latitude','longitude']]
origin.head()

   latitude  longitude
0   32.9128   -96.7717
1   32.9128   -96.7717
2   32.9128   -96.7717
3   32.9128   -96.7717
4   32.9128   -96.7717

In [32]:
destination=dataframe[['intptlat','intptlong']]
destination.head()

   intptlat  intptlong
0   32.9117   -96.6748
1   32.8735   -96.7475
2   32.9441   -96.8001
3   32.9916   -96.6629
4   32.8326   -96.8491

In [33]:
origin.iloc[0]["latitude"]

32.912799999999997

In [34]:
distance(origin.iloc[0]["latitude"],origin.iloc[0]["longitude"],destination.iloc[0]["intptlat"],destination.iloc[0]["intptlong"])

9.04630148456169

In [35]:
lst = []
for x in range(0, row):
    lst.append(distance(origin.iloc[x]["latitude"],origin.iloc[x]["longitude"],destination.iloc[x]["intptlat"],destination.iloc[x]["intptlong"]))

In [36]:
len(lst)

2069

In [37]:
se = pd.Series(lst)
dataframe['distance'] = se.values

In [38]:
dataframe.head()

,input_fid,near_fid,distance,zcta5,intptlat,intptlong,sec_no,name,address,city,zip,puma,latitude,longitude,open_,close_,licensenumber,ifec_close_date
0,24,1,9.046301,75042,32.9117,-96.6748,1,MEDICAL CITY GREEN OAKS HOSPITAL,7808 CLODUS FIELDS DR,DALLAS,75251,2309,32.9128,-96.7717,198300,201800.0,NaN,NaN
1,140,1,4.919552,75231,32.8735,-96.7475,1,MEDICAL CITY GREEN OAKS HOSPITAL,7808 CLODUS FIELDS DR,DALLAS,75251,2309,32.9128,-96.7717,198300,201800.0,NaN,NaN
2,159,1,4.374808,75254,32.9441,-96.8001,1,MEDICAL CITY GREEN OAKS HOSPITAL,7808 CLODUS FIELDS DR,DALLAS,75251,2309,32.9128,-96.7717,198300,201800.0,NaN,NaN
3,52,1,13.410189,75082,32.9916,-96.6629,1,MEDICAL CITY GREEN OAKS HOSPITAL,7808 CLODUS FIELDS DR,DALLAS,75251,2309,32.9128,-96.7717,198300,201800.0,NaN,NaN
4,144,1,11.479441,75235,32.8326,-96.8491,1,MEDICAL CITY GREEN OAKS HOSPITAL,7808 CLODUS FIELDS DR,DALLAS,75251,2309,32.9128,-96.7717,198300,201800.0,NaN,NaN

In [39]:
dataframe.to_csv("zcta_SEC.csv", sep=',')